* {
    padding: 0;
    margin: 0;
    font-family: "tahoma";
}
.bar {
    background-color: #f5f7f7;
    width: 100%;
}

.bar ul {
    list-style: none;
}

.bar ul li {
    display: inline-block;
    margin-right: 70px;
    color: gray;
    margin-top: 25px;
    margin-bottom: 25px;
}

.bar ul li a {
    text-decoration: none;
    color: gray;
}

.bar ul li a:hover {
    color: #ff871e;
}

ul li:first-child {
    margin-left: 190px;
    margin-right: 0;
}

ul li:last-child img {
    width: 20px;
}

ul li:nth-child(2) {
    margin-right: 400px;
    color: black;
    font-size: 18px;
}

ul li img {
    width: 30px;
}

ul li span {
    font-weight: bold;
} 
/* //////////////// */
.container {
    width: 100%;
}

.Hpage {
    width: 87.5%;
    height: 65%;
    padding-top: 150px;
    /* background-color: #f5f7f7; */
    padding-left: 190px;
    position: relative;
}

.Hpage .welcome {
    width: 35%;
    position: absolute;
    text-align: start;
    top: 150;
    left: 190;
}

.Hpage .welcome h1 {
    font-size: 60px;
    margin-bottom: 40px;
}

.Hpage .welcome p {
    line-height: 1.5;
    margin-bottom: 50px;
}

.Hpage .img {
    position: absolute;
    right: 230px;

}

.Hpage .welcome .button span {
    width: 100px;
    height: 40px;
    padding: 15px 25px;
    margin-right: 15px;
    color: white;
}

.Hpage .welcome .button span:first-child {
    background-color: #ff871e;
}

.Hpage .welcome .button span:last-child {
    background-color: black;
}

.text {
    width: 100%;
    height: 200px;
}
.footer table{
    margin-bottom: -70px;
}
.footer table .hed{
    font-size: 20px;
    margin-bottom: 20px;
    color:#181717;
}
.footer table p{
    color: #3b3a3a;
    line-height: 1.5;
}
.footer table .follow{
    margin-top: -30px;
}
.footer table .imgs{
    margin-top: 15px;
}
.footer table .sub{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}
.footer table .imgs img{
    width: 30px;
}
.footer table input{
    padding: 5px;
    margin-bottom: 30px;
}
.footer table span{
    background-color: #ff871e;
    color: white;
    padding: 10px 30px;
}
/* End footer  */ 
.copy{
    /* width: 100%; */
    background-color: #f0eeee;
    text-align: center;
    padding: 30px;
    color: #181717;
}